body {
  font-family: Arial, sans-serif;
  background: #eef2f5;
  margin: 0;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
}

h2 {
  text-align: center;
}

.summary {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.status {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}

.bar {
  display: flex;
  height: 30px;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 20px;
}

.bar div {
  height: 100%;
}

#costBar { background:navy; }
#deliveryBar { background: blue; }
#adsBar { background: orange; }
#profitBar { background: green; }

.inputs {
  display: grid;
  gap: 10px;
}

input[type="range"] {
  width: 100%;
}

input[type="number"] {
  width: 80px;
  height: 20px;
  border-radius:5px;
  text-align: center;
}

.inputtypenumber {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}

img{
  width: 50%;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}

/* Responsive */
@media (max-width: 600px) {
  .summary {
    flex-direction: column;
    gap: 5px;
  }
}